/* All elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background-color: #2A2E37;
  --search-bg-color: #242628;
  --icon-color: #00FEDE;
  --transition: all .5s ease;
}

body {
  font-family: sans-serif;
}

/* About us section for about us page */
main{
  height: 100%;
    background: linear-gradient(to top, rgb(165, 147, 112), transparent);
  display: flex;
  justify-content: center;
  padding: 20vh;
  gap: 10%;
}

main h3{
  width: 50%;
  font-family: monospace;
  text-align: center;
}

.weAreHere{
  text-align: center;
  font-size: 9rem;
  margin-top: 5%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Main section of contact us page  */
.contactUs{
background-image: none;
background-color: rgb(227, 226, 226);
}

.contactData{
  width: 90%;
  height: 100%;
  background-color: rgba(100, 75, 27, 0.6);
  display: flex;
  flex-direction: row;
}

.contactForm{
  width: 50%;
  background-color: white;
  padding: 5%;
}

.contactForm h1{
  font-size: 2.75rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contactDetails{
  padding: 9.9%;
  margin-top: 5.6%;
  margin-bottom: 5.6%;
}

.contactDetails h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: beige;
}

.contactDetails h4{
  color: white;
}

.submitBtn{
  margin-top: 5%;
  font-size: 1.4rem;
  font-weight: bold;
  border-style: none;
  background-color: rgba(100, 75, 27, 0.6);
  color: #ffffff;
  padding: 1rem 2rem 1rem 2rem;
}


.u-input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-color: #e5e5e5 !important;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
  margin-top: 2%;
}

.u-input-rectangle {
  border-radius: 0;
}


.contactForm div{
  width: 20%;
  height: 0.5rem;
  position: relative;
  background-color: #4d6de6;
}

.companyMap iframe{
  height: 38%;
  max-width: 100%;
  max-height: 38%;
}

/* Articles section  */
.articles{
  background-image: none;
  background-color: rgb(227, 226, 226) !important;
}

.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  text-align: center;
}

.articleContent{
  width: 50%;
}

.articleContent p{
  margin-top: 2rem;
  line-height: 2rem;
}


.articles img{
  width: 100%;
  margin-top: 3rem;
}

#progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right,#ff5f6d,#ffc371);
  width: 0%;
  z-index: 100;
}

/* Products Menu */
.productsMenu{
  background-image: none;
  background-color: rgb(227, 226, 226) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsMenu h1{
  align-self: center;
  justify-self: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 7rem;
}

.productsList{
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.5rem;
}

.productSearchBar{
  width: 93.3%;
  height: 10vh;
  background-color: #ffc371;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
}

/* Products page  */
.productCategory{
  background-image: none;
  background-color: rgb(227, 226, 226) !important;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.bikes,.boards,.gears{
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bikes,.boards,.gears{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f3f4f5' fill-opacity='1' d='M0,256L16,250.7C32,245,64,235,96,213.3C128,192,160,160,192,160C224,160,256,192,288,181.3C320,171,352,117,384,85.3C416,53,448,43,480,80C512,117,544,203,576,245.3C608,288,640,288,672,261.3C704,235,736,181,768,149.3C800,117,832,107,864,122.7C896,139,928,181,960,202.7C992,224,1024,224,1056,229.3C1088,235,1120,245,1152,229.3C1184,213,1216,171,1248,138.7C1280,107,1312,85,1344,96C1376,107,1408,149,1424,170.7L1440,192L1440,320L1424,320C1408,320,1376,320,1344,320C1312,320,1280,320,1248,320C1216,320,1184,320,1152,320C1120,320,1088,320,1056,320C1024,320,992,320,960,320C928,320,896,320,864,320C832,320,800,320,768,320C736,320,704,320,672,320C640,320,608,320,576,320C544,320,512,320,480,320C448,320,416,320,384,320C352,320,320,320,288,320C256,320,224,320,192,320C160,320,128,320,96,320C64,320,32,320,16,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;  
  width: 100%;
  padding: 2rem;
  gap: 5rem;
}

.boards{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 246%2c 233%2c 0.24)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1125' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1125' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1120'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1123'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1119'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1124'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1121'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1122'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1125'%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='30' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='30' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='90' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='90' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='90' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='90' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='90' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='90' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='90' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='90' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='150' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='150' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='210' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='210' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='210' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='210' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='270' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='270' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='270' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='270' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='270' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='330' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='330' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='330' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='390' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='450' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='450' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='450' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='450' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='510' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='510' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='510' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='510' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='510' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='510' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='510' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='570' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='570' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='570' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='570' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='630' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='630' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='690' y='30' stroke='rgba(138%2c 114%2c 47%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='90' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1123' x='690' y='150' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='210' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='270' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='330' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='390' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='450' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1124' x='690' y='510' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='570' stroke='rgba(138%2c 114%2c 47%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-size: cover;  
  margin-top: 0;
}
.bikes h1,.boards h1,.gears h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1f1f1f;
  font-size: 5rem;
}

.bikes section img{
padding-left: 20%;
padding-top: 10%;
}

.gears{
  background-color:transparent;
background-size:500px;
background-repeat:repeat;
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st1{fill:rgba(255,255,255,1)} %3C/style%3E%3Cpath style='fill:none;stroke:rgba(255,255,255,1);stroke-width:50;stroke-miterlimit:10' d='M-44-184l83 92 83-92 83 92 83-92 83 92 83-92 83 92 83-92'/%3E%3Cpath class='st1' d='M.8 500L-101 387.4l37.2-33.5L.8 425.4l83.1-92 83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.5 37.2 33.5L499.8 500l-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92zM.8 333.3L-101 220.7l37.2-33.4L.8 258.7l83.1-92 83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.4 37.2 33.4-101.8 112.6-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92zM.8 166.6L-101 54.1l37.2-33.5L.8 92 83.9 0l83.2 92 83.2-92 83.1 92 83.2-92 83.2 92 64.6-71.4 37.2 33.5-101.8 112.5-83.2-92-83.2 92-83.1-92-83.2 92-83.2-92z'/%3E%3C/svg%3E");
}



/* Navbar section */
.navBar{
  position: fixed;
  z-index: 3;
  width: 100%;
}

a.nav-link{
  font-size: 25px;
  font-weight: bolder;
}

.landingNavBar{
  height: 12vh;
  background-color: white;
  height: 15vh;
}

#logo{
  width: 11vh;
  max-height: 100%;
}

div.container-fluid{
  width: 50%;
}


/* Introduction section */
.intro {
  height: 101vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
}

.intro h2 {
  position: absolute;
  top: 80%;
  left: 65.2%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

.intro h2 a{
  text-decoration: none;
  color: white;
} 

#clickForDetails{
  z-index: 100;
}


#clickForDetails:hover{
  cursor: pointer;
}

/* Products category section */

.caarousel{
  width: 50%;
}

.d-block{
  background-color: rgba(118, 97, 56, 0.6);
  width: 50%;
}

.carouselLabels{
  font-size: 7rem;
}

.carouselContainer{
  width: 50%;
  height: 50%;
  max-height: 60vh;
  margin-bottom: 30vh;
  justify-self: center;
  align-self: center;
}


#productsExplorer {
  height: 40%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background: linear-gradient(to bottom, rgb(165, 147, 112), transparent);
}

#productsExplorer h1{
  justify-self: center;
  align-self: center;
  margin-bottom: 5rem;
  color: white;
  font-size: 2rem;
  background-image: linear-gradient(to top, rgb(239, 229, 210), white);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#productsExplorer p{
  margin-top: 3rem;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  padding: 4% 20%;
}

#whatWeOfferTitle{
  font-size: 9rem !important;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  position: relative;
  width: 33.33333%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}

.category h2{
  position: relative;
  z-index: 1;
  font-size: 10rem;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 75, 27, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-overlay:hover {
  opacity: 1;
}

.category-overlay h3, .category-overlay p {
  margin: 0;
  padding: 10px;
}

.container {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s ease;
}

.container:hover .text-wrapper {
  top: 50%;
}

.text {
  transition: transform 0.5s ease;
}

.container:hover .text {
  transform: translateY(-50%);
}


/* Footer */
footer{
  height: 100%;
  width: 100%;
  margin-top: 110vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutUsFooter{
  margin-top: 0;
}


.container{
  height: 100%;
  padding-top: 2%;
}

.brand-logo-light{
  height: 100%;
}

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}